
body {
    font-family: Tahoma, Georgia;

    padding-top: 70px;
}

h4 {
    text-align: center;
    border-bottom: beige;
}

.btn:hover, .btn:focus {
    box-shadow: none;
}

.row {
    margin-bottom: 20px;
}

.box, .box1, .box2 {
    background-size: 100% 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
    text-align: center;
}

.box {
    background-image: url(../imgs/box.svg);
}

.box > button {
    height: 50%;
    width: 100%;
    font-size: 0.6rem;
}


.box1 {
    background-image: url(../imgs/box1.svg);
}

.box1 > button {
    font-size: 0.6rem;
}

.box2 {
    background-image: url(../imgs/box2.svg);
}

.box2 > button {
    font-size: 0.6rem;
}